{% include '/templates/head.twig'%}
{{message}}
<div class="main__form">
    <h1 class="display-6">Login To do list</h1>
	<form method="post">
		<div class="mb-3">
			<label for="name" class="form-label">Pseudo</label>
			<input type="text" class="form-control" id="name" name="name">
		</div>
		<button type="submit" class="btn btn-primary">Connexion</button>
	</form>
</div>


{% include '/templates/footer.twig'%}
