{% include '/templates/head.twig'%}

<div class="main__content">
    <a class='ms-1' href="/logout" method="post">Déconnexion</a>
    <h1>To do list de {{user}}</h1>
    <div class="box">
        <form method="post">
		<div class="">
			<label for="todo" class="form-label">To do</label>
			<input type="text" class="form-control" id="todo" name="todo">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
    <div class="tasks__container">
        {% for todo in todos %}
				<div class="todo__box">
					<h5 class="todo__title">{{todo.todo}}</h5>
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="/updateTodo/{{todo._id}}" class="btn btn-primary ">modifer</a>
							<a href="/deleteTodo/{{todo._id}}" class="btn btn-danger ">supprimer</a>
						</div>
					</div>
				</div>
		{% endfor %}
    </div>
    </div>
</div>

{% include '/templates/footer.twig'%}
